@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './modal.css';


:root {
    --primary-color: #EE1A4D;
    --secondary-color: #1d7be6;
    --bg-color: #222222;
    --bg-modal: rgba(20, 20, 20, 0.773);
    --bg-modal-secondary: rgba(20, 20, 20, 0.9);
    --primary-text-color: #eaeaea;
    --secondary-text-color: #DDDDDD;
    --alternative-text-color: #141414;
    --input-placeholder-color: #14141499;
    --secondary-bg-color: #262626;
    --btn-bg-secondary: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 50px;
    color: var(--primary-text-color);
    flex-direction: column;
    height: 100vh;
}

.hidden {
    opacity: 0; 
    visibility: hidden;
    transition: visibility 0.2s linear, opacity 0.2s linear;
}

.visible {
    opacity: 1; 
    visibility: show;
    transition: visibility 0.2s linear, opacity 0.2s linear;
}

header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60vw;
    min-width: 600px;
}

#help {
    /* top: 80px; */
    top: 10px;
    right: 0;
    position: absolute;
}

.note-logo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#note {
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    line-height: 45px;
}

#quest {
    font-size: 2.2rem;
    letter-spacing: 10px;
    font-weight: 500;
    color: var(--primary-color);
}

.note-title {
    margin-top: 50px;
    font-size: 1.5rem;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.btn-center {
    order: 2;
}

.btn-center button {
    font-weight: 300;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    color: var(--primary-text-color);
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-center button:hover {
    background-color: #ff3d6d;
    transition: all 0.5s ease;
}

.btn-center button:active {
    background-color: #cc0f3d;
    transition: all 0.1s ease;
}

.new-category {
    order: 1;
}

.all-categories {
    order: 3;
}

.new-category button, .all-categories button {
    font-weight: 300;
    font-size: 1rem;
    background-color: var(--btn-bg-secondary);
    padding: 2px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.new-category button:hover, .all-categories button:hover {
    background-color: #3c3c3c;
    transition: all 0.5s ease;
}

.new-category button:active, .all-categories button:active {
    background-color: #1c1c1c;
    transition: all 0.2s ease;
}

.content {
    background-color: var(--secondary-bg-color);
    width: 60vw;
    min-width: 600px;
    margin-top: 50px;
    border-radius: 10px;
    min-height: 550px;
}

/* Content */

.categories {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
    gap: 10px;
    overflow-x: scroll;
}

.categories div button {
    transition: all 0.5s ease;
    width: 200px;
    height: 30px;
}
.categories div button:hover {
    background-color: var(--alternative-text-color);
    transition: all 0.5s ease;

}

.categories::-webkit-scrollbar {
    background-color: var(--input-placeholder-color);
    height: 4px;
}

.categories::-webkit-scrollbar-thumb {
    background-color: var(--secondary-text-color);
    border-radius: 5px;
}


.categories button {
    background-color: var(--btn-bg-secondary);
    padding: 2px 15px;
    border-radius: 5px;
    color: var(--secondary-text-color);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.warning {
    font-size: 1.2rem;
    cursor: default;
}

.category-item {
    display: flex;
}

.note-header {
    overflow-y: scroll;
    display: flex;
    height: 450px;
    justify-content: center;
    padding: 20px;
}

.note-header::-webkit-scrollbar {
    background-color: var(--primary-text-color);
    width: 2px;
}

.note-header::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 1px;
}

.note-header ul {
    list-style-type: none;
}

#task-list {
    padding: 10px;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#task-list li {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--btn-bg-secondary);
    color: var(--primary-text-color);
    width: 30%;
    padding: 15px;
    min-width: 230px;   
}

#task-list li p {
    display: flex;
    text-align: flex-start;
    align-items: center;
}   

.tags {
    display: flex;
    gap: 10px;
}

#categoryHome {
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 3px 10px;
    height: 100%;
}

.especify {
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 0.8rem;
    background-color: var(--secondary-color)
}

.priorityText {
    font-size: 1rem;
    margin-top: 5px;
    display: flex;
    width: 100%;
}

.priorityP {
    margin-right: 3px;
}

#priorityBall {
    color: var(--secondary-text-color);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.zero::before {
    content: '';
    display: block;
    width: 25px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 36px;
    height: 100%;    
    position: absolute;
    scale: 0.6;
    background-color: #1d7be6;
}

.baixa::before {
    content: '';
    display: block;
    width: 25px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 45px;
    height: 100%;    
    position: absolute;
    scale: 0.6;
    background-color: #22ff00;
}

.media::before {
    content: '';
    display: block;
    width: 25px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 50px;
    height: 100%;    
    position: absolute;
    scale: 0.6;
    background-color: #fff200;
}

.alta::before {
    content: '';
    display: block;
    width: 25px;
    height: 10px;
    border-radius: 50%;
    top: 0;
    left: 35px; 
    height: 100%;    
    position: absolute;
    scale: 0.6;
    background-color: #cc0f3d;
}